<div class="footer">
	<div class="container">
		<p class="rodape pull-left">
			<small>VISI ARQUITETOS | <a href="mailto:visi@visiarq.com.br" class="link-footer">visi@visiarq.com.br</a> | R. PADRE JOÃO GUALBERTO, 562 - IMIRIM - SÃO PAULO | +55 11 2537 6001</small>
		</p>
        <ul class="rodape-social pull-right">
            <li class="icon-facebook"><a href="http://www.facebook.com/visiarq" target="_blank"></a></li>
            <li class="icon-instagram"><a href="http://www.instagram.com/visiarq" target="_blank"></a></li>
        </ul>		
	</div>
</div>