@model VisiProj.Models.CategoriaModel

@{
    ViewBag.Title = "Excluir categoria";
}
<div class="container">
    <div class="row">
        <h2>Apagar categoria</h2>
        <ol class="breadcrumb">
            Você está em:
            <li><a href="#">Categoria</a></li>
            <li class="active">Excluir categoria</li>
        </ol>
        <h4>Tem certeza que deseja excluir esta categoria?</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Nome)</dt>
            <dd>@Html.DisplayFor(model => model.Nome)</dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Excluir" class="btn btn-link"> |
                @Html.ActionLink("Voltar a lista de categorias", "Index")
            </div>
        }
    </div>
</div>