@model VisiProj.Models.CategoriaModel

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <h2>Detalhes da categoria</h2>
        <ol class="breadcrumb">
            Você está em:
            <li><a href="#">Categoria</a></li>
            <li class="active">Detalhes da categoria</li>
        </ol>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Voltar a lista", "Index")
        </p>
    </div>
</div>