@model VisiProj.Models.CategoriaModel

@{
    ViewBag.Title = "Detalhar categoria";
}

<div class="container">
    <div class="row">
        <h2>Categoria - Detalhes</h2>
        <ol class="breadcrumb">
            Você está em:
            <li><a href="/Categoria/Index">Categoria</a></li>
            <li class="active">Detalhar categoria</li>
        </ol>
        <div>
            <hr>
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.Nome)</dt>
                <dd>@Html.DisplayFor(model => model.Nome)</dd>
            </dl>
        </div>
        <p>
            @Html.ActionLink("Editar categoria", "Edit", new { id = Model.Id }, new {@class = "btn btn-warning" })
            @Html.ActionLink("Voltar a lista de categorias", "Index", null, new { @class = "btn btn-primary"})
        </p>
    </div>
</div>