@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div data-spy="affix" data-offset-top="60" data-offset-bottom="200" class="box-lateral">
				<ul class="nav">
					<li><a href="#">TODOS</a></li>
					<li><a href="#">BUFFET</a></li>
					<li><a href="#">INTERIORES</a></li>
					<li><a href="#">RESIDENCIAL</a></li>
				</ul>
			</div>			
		</div>
		<div class="col-md-9">
			
		</div>
	</div>
</div>