<div class="footer">
	<div class="container">
		<p class="text-muted pull-left">
			<small>VISI ARQUITETOS | <a href="mailto:visi@visiarq.com.br" style="color:#999 !important;">visi@visiarq.com.br</a> | R. PADRE JOÃO GUALBERTO, 562 - IMIRIM - SÃO PAULO | +55 11 2537 6001</small>
		</p>
		<ul class="text-muted pull-right">
			<a href="http://www.facebook.com/visiarq" target="_blank" class="text-muted">
			<li class="icon-facebook">facebook</li></a>
			<a href="http://www.instagram.com/visiarq" target="_blank">
			<li class="icon-instagram">instagram</li></a>
		</ul>		
	</div>
</div>