@{
    ViewBag.Title = "Home";
    //Layout = "_Layout";
}

@*<div class="container">
	<div class="row">
		<div class="col-md-12">
			<% @objetos.each do |obj|%>
			<a href="/projetos/show/<%= obj[:id] %>"> <img src="<%= obj[:url] %>" alt="<%= obj[:nome] %>" class='img-home'> </a>
			<% end %>
		</div>
	</div>
</div>*@

@section javascripts 
{

<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".container").hide();
        $(".container").fadeIn("slow");
    }); 
</script>

}
