@{
    ViewBag.Title = "Contato";
    ViewBag.ActiveMenu = "Contato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-md-4 equipeEsq">
			<div class="box-lateral">
				<h4><strong>Escritório</strong></h4>
				<p>São Paulo - Imirim</p>
				<address>
					Rua Padre João Gualberto, 562<br>
					CEP: 02537-000<br>
					<h2>+55 11 <strong>2537-6001</strong></h2>
				</address>
			</div>
		</div>
        <div class="col-md-3 ">
            <div class="box-lateral">
                <h4><strong>E-mail</strong></h4>
                <a href="mailto:visi@visiarq.com.br" style="color: #999 !important;">visi@visiarq.com.br</a>
                <h4><strong>Redes Sociais</strong></h4>
                <p><a href="http://www.facebook.com/visiarq" style="color: #999 !important;">facebook.com/<strong>visiarq</strong></a></p>
                <p><a href="http://www.instagram.com/visiarq" style="color: #999 !important;">instagram@("@")<strong>visiarq</strong></a></p>
            </div>
        </div>
        <div class="col-md-5 equipeDir">
            <iframe frameborder="0" width="473" height="450" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=pt&amp;geocode=&amp;q=Rua+Padre+Jo%C3%A3o+Gualberto,+562,+Imirim,+SP,+Brasil&amp;aq=t&amp;sll=37.0625,-95.677068&amp;sspn=41.682395,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Padre+Jo%C3%A3o+Gualberto,+562+-+Imirim,+S%C3%A3o+Paulo,+Brasil&amp;t=m&amp;z=14&amp;ll=-23.490422,-46.653371&amp;output=embed"></iframe>
        </div>
	</div>
	<h1 class="pull-left" id="contact">CONTATO</h1>
    <div class="clearfix"></div>
</div>