@{
    ViewBag.Title = "Equipe";
    ViewBag.ActiveMenu = "Equipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="page-header">
                <h1>EQUIPE</h1>
            </div>
            <p>Em atividade desde 2012, a VISI Arquitetos vem atuando no mercado arquitetônico em todos os setores, desde comercial, industrial, residencial até espaços para festas (buffets), visando realizar um projeto inovador e contemporâneo atendendo todas as expectativas de seus clientes.</p>
            <p>Danilo Vicentini, formado pela Universidade Presbiteriana Mackenzie no curso de Arquitetura e Urbanismo, com passagem por diversos escritórios acumulando experiências nos mais diversos tipos de projetos, hoje desenvolve a parte de coordenação de projetos do escritório.</p>
            <p>Gustavo Bruno, formado pela Universidade FMU-FIAM-FAAM no curso de Arquitetura e Urbanismo, com passagem por diversos escritórios e construtoras, focou-se no setor de desenvolvimento de projetos e gerenciamento de obras, acumulando conhecimento dos mais variados métodos construtivos, gerenciando hoje projetos e obras desenvolvidos pelo escritório.</p>
        </div>
        <div class="col-md-6">
            <img src="/images/foto-escritorio.jpg" class="img-responsive pull-right">
        </div>
    </div>
</div>	