@{
    ViewBag.Title = "Equipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="page-header">
				<h1>SOBRE</h1>
			</div>
				<p>A VISI Arquitetos, fundada no inicio de 2012 por dois jovens arquitetos.</p>
				<p>Danilo Vicentini, formado em 2011 pela Universidade Mackenzie no curso de a Arquitetura e Urbanismo e Gustavo Bruno, 
					formado também em 2011 pela Universidade FMU- FIAM FAAM no curso de Arquitetura e Urbanismo.</p>
				<p>Com atuação no mercado arquitetônico em todos os setores, comercial, industrial, residencial e espaços para festas (buffets), visando 
					realizar um projeto inovador e contemporâneo atendendo todas as expectativas de seus clientes.</p>		
		</div>	
		<div class="col-md-6">
			<img src="/images/foto-escritorio.jpg" class="img-responsive pull-right">
		</div>
	</div>
</div>	