@model IEnumerable<VisiProj.ImagemProjeto>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			@foreach (var obj in Model) {
				<a href="/projetos/show/@obj.Id"> <img src="@obj.UrlNormal" alt="@obj.Nome" class='img-home'> </a>
			}
		</div>
	</div>
</div>

@section javascripts 
{

<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".container").hide();
        $(".container").fadeIn("slow");
    }); 
</script>

}
