@model IEnumerable<VisiProj.Models.ImagemProjetoModel>

@{
    ViewBag.Title = "Home";
    ViewBag.ActiveMenu = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div id="gallery-home" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-top: 0; padding-left:0; padding-right:0;">

            @foreach (var obj in Model)
            {
                <a href="/projetos/@(obj.Projeto.CategoriaId)/projeto/@(obj.Projeto.Id)">
                    <img src="@obj.UrlNormal" alt="@obj.Projeto.Nome">
                    <div class="caption">
                        <span>@obj.Projeto.Nome</span>
                    </div>
                </a>
            }
        </div>
    </div>
</div>

@section javascripts
{
    <script>
        $(window).ready(function () {
            console.log("ready!");
            $(".container").hide();
            $(".container").fadeIn("slow");
            $("#gallery-home").justifiedGallery(
                {
                    randomize: true,
                    captions: true,
                    margins: 12,
                    rowHeight: 335
                    //maxRowHeight: 335,
                    //fixedHeight: true
                });
            //$("#gallery-home").justifiedGallery().on('jg.resize', function (e) {
            //    alert("resize");
            //});
        });
    </script>
}