@model IEnumerable<VisiProj.Models.ImagemProjetoModel>

@{
    ViewBag.Title = "Home";
    ViewBag.ActiveMenu = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			@foreach (var obj in Model) {
				<a href="/projetos/@(obj.Projeto.CategoriaId)/projeto/@(obj.Projeto.Id)"> <img src="@obj.UrlMiniatura" class='img-home'> </a>
			}
		</div>
	</div>
</div>

@section javascripts 
{

<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".container").hide();
        $(".container").fadeIn("slow");
    }); 
</script>

}
