@{
    ViewBag.Title = "Welcome";
    Layout = "";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE10">
    <title>VISI</title>
    <meta http-equiv="refresh" content="2; url=/home">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <style>
        #logo-index {
            margin-top: 150px;
            -webkit-animation-duration: 3s;
            -webkit-animation-delay: 2s;
            -moz-animation-duration: 3s;
            -moz-animation-delay: 2s;
            -ms-animation-duration: 3s;
            -ms-animation-delay: 2s;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="/images/logo.png" id="logo-index" alt="visi" class="img-responsive">
    </div>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>
